= simple_form_for profile do |f|
  = f.input :name, autofocus: true
  = f.input :database_type, collection: Profile.translated_database_types

  = simple_fields_for :database_options do |f_opts|
    - profile.driver_options.each do |arg|
      = f_opts.input arg.fetch(:name), label: arg.fetch(:label), input_html: {value: profile.connect_option_value(arg.fetch(:name))}

  = f.button :submit
