<% content_for(:header_title) { Profile.model_name.human(count: 2) } %>
<% content_for(:header_right) { bb_new_btn [:new, :profile], can: Profile, mini: true } %>
<%= bb_panel Profile.model_name.human(count: 2), table: true do %>
  <thead>
    <tr>
      <th>
        <%= Profile.human_attribute_name(:name) %>
      </th>
      <th class="text-right">
        <%= t("actions") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td>
          <%= link_to profile.name, [profile, :databases] %>
        </td>
        <td class="text-right">
          <%= bb_show_btn profile, mini: true %>
          <%= bb_edit_btn [:edit, profile], mini: true %>
          <%= bb_destroy_btn profile, mini: true, class: "delete-profile-#{profile.id}" %>
        </td>
      </tr>
    <% end %>
    <% if @profiles.empty? %>
      <tr>
        <td colspan="2">
          <%= t("no_results") %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
<%= will_paginate @profiles %>
