
- content_for(:header_title) { t(".show_index", name: @index.name) }
- content_for(:header_right) do
  = bb_edit_btn [:edit, @profile, @database, @table, @index], mini: true
  = bb_destroy_btn [@profile, @database, @table, @index], mini: true, class: "delete-index"

= bb_panel t("details"), table: true do
  %tbody
    %tr
      %th= t(".database")
      %td= link_to @database.name, [@profile, @database]
    %tr
      %th= t(".table")
      %td= link_to @table.name, [@profile, @database, @table]

    - @index.data.each do |key, value|
      - next if key == :columns
      %tr
        %th= key
        %td= value

    %tr
      %th= t(".columns")
      %td
        - @index.columns.each do |column|
          = link_to column, [@profile, @database, @table, :column, id: column]
