= simple_form_for :foreign_key, url: profile_database_table_foreign_keys_path(@profile, @database, @table) do |f|
  = f.input :name, autofocus: true, label: t(".name"), input_html: {value: @foreign_key&.name}
  = f.input :local_column_name, collection: @table.columns.map(&:name), label: t(".local_column"), selected: @foreign_key&.local_column
  = f.input :table_name, label: t(".table_name"), input_html: {value: @foreign_key&.table_name}
  = f.input :column_name, label: t(".column_name"), input_html: {value: @foreign_key&.column_name}
  = f.button :submit
