- content_for(:header_title) { t(".show_column", name: @column.name) }
- content_for(:header_right) do
  = link_to t("edit"), [:edit, @profile, @database, @table, @column], class: ["btn", "btn-default", "btn-xs"] if can? :edit, @column
  = link_to t("delete"), [@profile, @database, @table, @column], method: :delete, class: ["btn", "btn-danger", "btn-xs", "delete-column-btn"], data: {confirm: t("are_you_sure")} if can? :destroy, @column

%table.table.table-bordered.table-striped.table-hover
  %tbody
    %tr
      %th= t(".database")
      %td= link_to @database.name, [@profile, @database]
    %tr
      %th= t(".table")
      %td= link_to @table.name, [@profile, @database, @table]

    - @column.data.each do |key, value|
      %tr
        %th= key
        %td= value
