- content_for(:header_title) { t(".show_column", name: @column.name) }

%table.table.table-bordered.table-striped.table-hover
  %tbody
    %tr
      %th= t(".database")
      %td= link_to @database.name, profile_database_path(@profile, @database.name)
    %tr
      %th= t(".table")
      %td= link_to @table.name, profile_database_table_path(@profile, @database.name, @table.name)

    - @column.data.each do |key, value|
      %tr
        %th= key
        %td= value
