- content_for(:header_title) { t(".show_column", name: @column.name) }
- content_for(:header_right) do
  = bs_edit_btn url: [:edit, @profile, @database, @table, @column], mini: true
  = bs_destroy_btn url: [@profile, @database, @table, @column], mini: true, class: "delete-column-btn"

= bs_box t("details"), table: true do
  %tbody
    %tr
      %th= t(".database")
      %td= link_to @database.name, [@profile, @database]
    %tr
      %th= t(".table")
      %td= link_to @table.name, [@profile, @database, @table]

    - @column.data.each do |key, value|
      %tr
        %th= key
        %td= value
