- content_for(:header_title) { t(".show_table", name: @table.name) }
- content_for(:header_right) { link_to t("edit"), [:edit, @profile, @database, @table], class: ["btn", "btn-default", "btn-xs"] }

%table.table.table-bordered.table-striped.table-hover
  %tbody
    %tr
      %th= t(".database")
      %td= link_to @database.name, profile_database_path(@profile, @database.name)

.row
  .col-md-9
    %h2= t(".columns")
  .col-md-3
    .pull-right
      = link_to t("add_new"), [:new, @profile, @database, @table, :column], class: ["btn", "btn-default"] if can? :new, Baza::Column

%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th= t(".name")
      %th= t(".type")
      %th= t("actions")
  %tbody
    - @table.columns do |column|
      %tr
        %td= link_to column.name, [@profile, @database, @table, column]
        %td= column.type
        %td
          = link_to t("edit"), [:edit, @profile, @database, @table, column], class: ["btn", "btn-xs", "btn-default"]
          = link_to t("delete"), [@profile, @database, @table, column], method: :delete, class: ["btn", "btn-xs", "btn-danger"], data: {confirm: t("are_you_sure")}
    - if @table.columns.empty?
      %tr
        %td{colspan: 3}= t("no_results")

.row
  .col-md-9
    %h2= t(".indexes")
  .col-md-3
    .pull-right
      = link_to t("add_new"), [:new, @profile, @database, @table, :index], class: ["btn", "btn-default"] if can? :new, Baza::Index

%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th= t(".name")
      %th= t(".columns")
      %th= t("actions")
  %tbody
    - @table.indexes do |index|
      %tr
        %td= link_to index.name, [@profile, @database, @table, index]
        %td
          - index.columns.each do |column_name|
            = link_to column_name, [@profile, @database, @table, :column, id: column_name], class: ["btn", "btn-default", "btn-xs"]
        %td
          = link_to t("edit"), [:edit, @profile, @database, @table, index], class: ["btn", "btn-default", "btn-xs"]
          = link_to t("delete"), [@profile, @database, @table, index], method: :delete, class: ["btn", "btn-danger", "btn-xs"], data: {confirm: t("are_you_sure")}
    - if @table.indexes.empty?
      %tr
        %td{colspan: 3}= t("no_results")
