- content_for(:header_title_only) { t(".show_table", name: @table.name) }

= bb_panel t(".show_table", name: @table.name), table: true do |panel|
  - panel.controls << link_to(t(".rows"), [@profile, @database, @table, :rows], class: ["btn", "btn-default", "btn-xs"]) if can? :index, Baza::Row
  - panel.controls << bb_edit_btn([:edit, @profile, @database, @table], mini: true, can: @table)
  - panel.controls << bb_destroy_btn([@profile, @database, @table], mini: true, can: @table)

  %tbody
    %tr
      %th= t(".database")
      %td= link_to @database.name, profile_database_path(@profile, @database.name)

= bb_panel t(".columns"), controls: bb_new_btn([:new, @profile, @database, @table, :column], can: Baza::Column, mini: true), table: true do
  %thead
    %tr
      %th= t(".name")
      %th.hidden-xs-down= t(".type")
      %th.hidden-md-down= t(".maxlength")
      %th.hidden-xs-down= t(".null")
      %th.hidden-md-down= t(".default")
      %th.text-right= t("actions")
  %tbody
    - @table.columns do |column|
      %tr
        %td= link_to column.name, [@profile, @database, @table, column]
        %td.hidden-xs-down= column.type
        %td.hidden-md-down= column.maxlength
        %td.hidden-xs-down= column.null? ? t("yes") : t("no")
        %td.hidden-md-down= column.default
        %td.text-right
          = bb_edit_btn [:edit, @profile, @database, @table, column], mini: true
          = bb_destroy_btn [@profile, @database, @table, column], mini: true
    - if @table.columns.empty?
      %tr
        %td{colspan: 5}= t("no_results")

= bb_panel t(".indexes"), controls: bb_new_btn([:new, @profile, @database, @table, :index], can: Baza::Index, mini: true), table: true do
  %thead
    %tr
      %th= t(".name")
      %th= t(".columns")
      %th.hidden-xs-down= t(".unique")
      %th.text-right= t("actions")
  %tbody
    - @table.indexes do |index|
      %tr
        %td= link_to index.name, [@profile, @database, @table, index]
        %td
          - index.columns.each do |column_name|
            = link_to column_name, [@profile, @database, @table, :column, id: column_name], class: ["btn", "btn-default", "btn-xs"]
        %td.hidden-xs-down= index.unique? ? t(".yes") : t(".no")
        %td.text-right
          = bb_edit_btn [:edit, @profile, @database, @table, index], mini: true
          = bb_destroy_btn [@profile, @database, @table, index], mini: true
    - if @table.indexes.empty?
      %tr
        %td{colspan: 4}= t("no_results")
