- content_for(:header_title) { t(".sign_in") }

.row
  .col-md-6
    = bb_panel t("details") do
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

        = f.button :submit, t(".sign_in")

= render "devise/shared/links"
