- content_for(:header_title) { t(".databases") }
- content_for(:header_right) { bs_new_btn url: [:new, @profile, :database], can: Baza::Database, mini: true }

= bs_box t(".databases"), table: true do
  %thead
    %tr
      %th= t(".name")
      %th= t("actions")
  %tbody
    - @databases.each do |database|
      %tr
        %td= link_to database.name, profile_database_path(@profile, database.name)
        %td
          = bs_edit_btn url: [:edit, @profile, database], label: false, mini: true
          = bs_destroy_btn url: [@profile, database], label: false, mini: true
    - if @databases.empty?
      %tr
        %td{colspan: 2}= t("no_results")
