- content_for(:header_title) { t(".databases") }
- content_for(:header_right) { bb_new_btn [:new, @profile, :database], can: Baza::Database, mini: true }

= bb_panel t(".databases"), table: true do
  %thead
    %tr
      %th= t(".name")
      %th.text-right= t("actions")
  %tbody
    - @databases.each do |database|
      %tr
        %td= link_to database.name, profile_database_path(@profile, database.name)
        %td.text-right
          = bb_edit_btn [:edit, @profile, database], mini: true
          = bb_destroy_btn [@profile, database], mini: true
    - if @databases.empty?
      %tr
        %td{colspan: 2}= t("no_results")
