<% content_for(:header_title_only) { t(".show_database", name: @database.name) } %>

<%= bb_panel t(".show_database", name: @database.name), table: true do |panel| %>
  <% panel.controls << bb_btn([:new, @profile, @database, :export, export: {database_name: @database.name, driver_for_export: @profile.database_type}], :mini, can: Export, icon: "download") %>
  <% panel.controls << bb_btn([:new, @profile, @database, :import], :mini, icon: "upload") %>
  <% panel.controls << bb_btn([:new, @profile, @database, :sql_execution], title: t(".execute_sql"), icon: "retweet", mini: true) %>
  <% panel.controls << bb_edit_btn([:edit, @profile, @database], mini: true) %>

  <thead>
    <tr>
      <th>
        <%= t("shared.name") %>
      </th>
      <th class="text-right">
        <%= t("shared.rows") %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @database.tables.each do |table| %>
      <tr>
        <td>
          <%= table.name %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(table.rows_count) %>
        </td>
        <td class="text-nowrap text-right">
          <%= bb_edit_btn([:edit, @profile, @database, table, redirect_to: current_path_with_params], :mini, can: @table) %>
          <%= bb_destroy_btn([@profile, @database, table, redirect_to: current_path_with_params], :mini, can: @table) %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
