!!! %
%html
  %head
    %title BazaDatabaseManager

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to t(".baza_database_manager"), root_url, class: "navbar-brand"
        .collapse.navbar-collapse#navbar
          %ul.nav.navbar-nav
            %li.active= link_to t(".home"), root_url
            - if can? :index, Profile
              %li= link_to Profile.model_name.human(count: 2), profiles_path
    .container
      .starter-template
        - flash.to_hash.each_value do |value|
          .alert.alert-dismissible.alert-danger= value

        .row
          .col-md-2
            - if @database && !(controller_name == "databases" && action_name == "show")
              %h1= link_to t(".tables"), [@profile, @database]
              %table.table.table-bordered.table-striped.table-hover.tables-quick-menu
                %tbody
                  - @database.tables.each do |table|
                    %tr
                      %td.table-show-icon
                        = link_to [@profile, @database, table] do
                          %i.fa.fa-wrench
                      %td.table-name= link_to table.name, [@profile, @database, table, :rows]
          .col-md-10
            - if content_for?(:header_title)
              .row
                .col-md-8
                  %h1= content_for(:header_title)
                .col-md-4
                  .pull-right= content_for(:header_right)

            = yield
